header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  width: 100%;
  height: 15vh;
  margin-bottom: 3em;
  background-image: url(../assets/images/4869.jpg);
  background-size: contain;
  background-repeat: repeat-x;
  grid-area: header;
  z-index: 1;
  position: fixed;
}
header nav {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav .tamano-caja-img .tamano-imagen {
  background-color: transparent;
}
header nav div .estilo-h1:hover {
  color: red;
  text-shadow: 2px 2px rgb(255, 255, 255);
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-perspective: scale(2);
          perspective: scale(2);
  -webkit-transition: all 5s;
  transition: all 5s;
}
header nav div ul #estilo-menu:hover {
  background-image: url(../assets/images/fuego-chico.jpg);
}
header nav div ul #estilo-menu a {
  background-color: transparent;
}

.navbar-toggler {
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}

.navbar-light {
  border-color: rgb(255, 255, 255);
  color: white;
}

.nav-link {
  color: rgb(255, 255, 255) !important;
  font-weight: 700 !important;
}

#estilo-menu {
  color: white;
  display: inline-block;
  width: 90px;
  height: 40px;
  text-align: center;
  background-image: url(../assets/images/Menu-3.jpg);
  background-repeat: repeat;
  font-size: 18px;
  padding: 5px;
  border: 2px solid white;
  border-radius: 5px;
  text-decoration: none;
  margin: 0rem;
  font-weight: 700;
  font-size: larger;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#estilo-menu-2 {
  color: white;
  display: inline-block;
  width: 90px;
  height: 40px;
  text-align: center;
  background-image: url(../assets/images/Menu-3.jpg);
  background-repeat: repeat;
  font-size: 18px !important;
  padding: 5px;
  border: 2px solid red;
  border-radius: 5px;
  margin: 0rem;
  font-weight: 500;
  font-size: larger;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#estilo-menu-2:hover {
  background-image: url(../assets/images/fuego-chico.jpg);
}

.estilo-h1 {
  height: 100%;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-family: "New Rocker", cursive;
  font-size: 38px;
  text-shadow: 2px 2px rgb(255, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 5%;
  -webkit-perspective: 2500;
          perspective: 2500;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.estilo-h1:hover {
  color: red;
  text-shadow: 2px 2px rgb(255, 255, 255);
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-perspective: scale(2);
          perspective: scale(2);
  -webkit-transition: all 5s;
  transition: all 5s;
}

.tamano-imagen {
  width: 100%;
  height: 100%;
}

.tamano-imagen--1 {
  width: 33%;
  height: 100vh;
}

.tamano-caja-img {
  width: 20%;
  height: 100%;
}

#main-index {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
  width: 100%;
  height: 100%;
  margin-bottom: 3%;
}
#main-index span #estilo-h2-main, #main-index span #estilo-h2-main-historia, #main-index span #estilo-h2-main--agregar {
  background-color: transparent;
}
#main-index section .caja-trailer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}
#main-index section .caja-trailer iframe:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.15);
  -webkit-transition: all 3s;
  transition: all 3s;
}
#main-index section h2 {
  font-size: 36px;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  font-family: "Kanit", sans-serif;
  color: white;
}
#main-index section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}
#main-index section .article-left-1 img {
  width: 100%;
  height: 100%;
}
#main-index section .article-right-2 p {
  background-color: transparent;
}
#main-index section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}
#main-index section .article-left-1 img {
  width: 100%;
  height: 100%;
}
#main-index section .article-right-2 p {
  background-color: transparent;
}
#main-index section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}
#main-index section .article-left-1 img {
  width: 100%;
  height: 100%;
}
#main-index section a {
  background-color: transparent;
}
#main-index section a p {
  background-color: white;
}

#main-historia {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  background-color: transparent;
  grid-area: main;
  width: 100%;
  height: 100%;
  margin-bottom: 3%;
}
#main-historia .tamano-section-main #estilo-h2-main-historia {
  background-color: transparent;
}
#main-historia .estilo-historia .estilo-article .estilo-h2-a {
  background-color: transparent;
}
#main-historia .tamano-section-main .article-left-1-2 img {
  background-color: black;
}
#main-historia .tamano-section-main .article-right-2 p {
  color: white;
  font-size: larger;
}

#main-atributos {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  background-color: transparent;
  grid-area: main;
  width: 100%;
  height: 100%;
  margin-bottom: 3%;
}
#main-atributos #estilo-h2-main, #main-atributos #estilo-h2-main-historia, #main-atributos #estilo-h2-main--agregar {
  background-color: transparent;
}

.tamano-section-main .article-left-1 #imagenLogoparche {
  width: 100%;
  height: 100%;
}
.tamano-section-main .article-right-2 {
  background-color: transparent;
}
.tamano-section-main .article-right-2 p {
  color: beige;
  width: 100%;
}

.main-galeria {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  background-color: transparent;
  grid-area: main;
  width: 100%;
  height: 100%;
  margin-bottom: 3%;
}
.main-galeria #estilo-h2-main, .main-galeria #estilo-h2-main-historia, .main-galeria #estilo-h2-main--agregar {
  background-color: transparent;
}
.main-galeria section article .estilo-h2-a {
  background-color: transparent;
}
.main-galeria .caja-slide div a {
  background-color: transparent;
}
.main-galeria .caja-slide div a:hover {
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
  -webkit-perspective: scale(3);
          perspective: scale(3);
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: 1;
}

#main-contacto {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  background-color: transparent;
  grid-area: main;
  width: 100%;
  height: 100%;
  margin-bottom: 6%;
}
#main-contacto section .orientar-caja article #estilo-h2-main, #main-contacto section .orientar-caja article #estilo-h2-main-historia, #main-contacto section .orientar-caja article #estilo-h2-main--agregar {
  background-color: transparent;
}
#main-contacto section form section {
  background-color: beige;
}

.tamano-section-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3%;
  margin-top: 0;
}

.caja-trailer {
  background-color: transparent;
  width: 100%;
}

.caja-trailer:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: all 3s;
  transition: all 3s;
}

#imagenLogoparche {
  width: 100%;
  height: 100%;
}

.lista-flex-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5%;
}

.article-right-2 {
  width: 60%;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border: 5px solid red;
}

.card-img-top {
  height: 150px;
}

.card {
  background-color: transparent;
  color: white;
}

.cardo-text {
  font-family: "EB Garamond", serif;
}

.estilo-article {
  margin: 10px;
  padding: 10px;
}

.estilo-historia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#estilo-h2-main--agregar {
  width: 100%;
  font-size: 40px;
  margin-top: 0% !important;
  padding-top: 5%;
}

#estilo-h2-main, #estilo-h2-main-historia, #estilo-h2-main--agregar {
  font-size: 45px;
  margin-top: 120px;
  margin-bottom: 5%;
  text-align: center;
  font-family: "Kanit", sans-serif;
  color: white;
  text-decoration: underline;
}

#estilo-h2-main-historia {
  width: 100%;
  padding-top: 5%;
  text-align: center;
}

.article-left-1 {
  height: 100%;
  border: 5px solid;
}

.article-left-1-2 {
  height: 100%;
  border: 5px solid;
}

#imagenLogoparcheH {
  width: 100%;
  height: 100%;
}

.article-right-1-2 {
  display: inline-block;
  width: 90%;
  height: 20vh;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 18px;
  border: 5px solid red;
}

/* Galeria */
.estilo-h2-a {
  width: 100%;
  height: 10%;
  padding: 10px;
  font-family: "Kanit", sans-serif;
  color: white;
  font-size: 40px;
  text-align: center;
}

.caja-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  height: 15%;
  background-color: transparent;
  margin-bottom: 2%;
}

/* Contacto */
.caja-contacto-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  height: 30%;
  padding: 40px;
  margin-left: 30%;
  margin-bottom: 3%;
  background-color: beige;
  font-size: 20px;
  border: 10px dotted aqua;
  position: relative;
  top: 30px;
  background-image: url(../assets/images/contacto-fondo.webp);
}

.form-label {
  color: white;
}

.orientar-caja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  width: 100%;
  background-color: brown;
  grid-area: footer;
  -webkit-animation-name: animation_footer;
          animation-name: animation_footer;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  margin-bottom: 0;
}
footer section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}
footer section a img {
  width: 70px;
  height: 70px;
  padding: 5px;
  border-radius: 100%;
}

@-webkit-keyframes animation_footer {
  0% {
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(255, 255, 255)), to(rgb(237, 187, 107)));
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(237, 187, 107) 100%);
  }
  50% {
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(0, 0, 0)), to(rgb(237, 187, 107)));
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(237, 187, 107) 100%);
  }
  75% {
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(255, 255, 255)), to(rgb(237, 187, 107)));
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(237, 187, 107) 100%);
  }
  100% {
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(0, 0, 0)), to(rgb(237, 187, 107)));
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(237, 187, 107) 100%);
  }
}

@keyframes animation_footer {
  0% {
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(255, 255, 255)), to(rgb(237, 187, 107)));
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(237, 187, 107) 100%);
  }
  50% {
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(0, 0, 0)), to(rgb(237, 187, 107)));
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(237, 187, 107) 100%);
  }
  75% {
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(255, 255, 255)), to(rgb(237, 187, 107)));
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(237, 187, 107) 100%);
  }
  100% {
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(0, 0, 0)), to(rgb(237, 187, 107)));
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(237, 187, 107) 100%);
  }
}
.iconos-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.iconos-tamano-footer {
  width: 70px;
  height: 70px;
  padding: 5px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* INDEX */
#grilla {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/images/Menu-4.jpg);
  background-repeat: repeat;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "header header header" "main main main" "footer footer footer";
}

/* Media Queris Mobile to Desktop */
@media screen and (min-width: 360px) {
  .tamano-caja-img {
    width: 0;
  }

  .caja-trailer {
    width: 360px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
  }

  .estilo-h1 {
    font-size: 22px;
  }

  .caja-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 20%;
    margin-top: 30%;
    margin-bottom: 50%;
    background-color: transparent;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .article-left-1 {
    width: 20%;
    background-color: none;
    border: 5px solid red;
  }

  .article-right-2 {
    font-size: 15px;
  }

  .article-left-1-2 {
    width: 60%;
    background-color: none;
    border: 5px solid red;
  }

  #estilo-h2-main, #estilo-h2-main--agregar, #estilo-h2-main-historia {
    margin-top: 33%;
  }

  .caja-contacto-1 {
    width: 70%;
    height: 38%;
    margin-left: 20%;
    padding: 10px;
    margin-bottom: 16%;
  }

  footer {
    width: 100%;
  }
}
@media screen and (min-width: 500px) {
  .estilo-h1 {
    font-size: 32px;
  }

  footer {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .tamano-caja-img {
    width: 20%;
  }

  .caja-trailer {
    width: 100%;
  }

  header {
    width: 100%;
  }

  .caja-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 15%;
    margin-top: 10%;
    margin-bottom: 11%;
    background-color: transparent;
  }

  .article-right-2 {
    font-size: 25px;
  }

  #estilo-h2-main, #estilo-h2-main--agregar, #estilo-h2-main-historia {
    font-size: 50px;
    margin-top: 25%;
    margin-bottom: 5%;
    text-align: center;
    font-family: "Kanit", sans-serif;
    color: white;
    text-decoration: underline;
  }

  .estilo-h1 {
    font-size: 38px;
  }

  footer {
    width: 100%;
  }

  .caja-contacto-1 {
    width: 40%;
    height: 35%;
    margin-left: 30%;
  }

  .article-left-1 {
    width: 20%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border: 5px solid red;
  }

  .article-left-1-2 {
    width: 30%;
    background-color: none;
    border: 5px solid red;
  }
}
@media screen and (min-width: 1200px) {
  .tamano-caja-img {
    width: 20%;
  }

  .caja-trailer {
    width: 100%;
  }

  header {
    width: 100%;
  }

  .lista-flex-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 3%;
  }

  .caja-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    height: 15%;
    background-color: transparent;
    margin-left: 11%;
    margin-bottom: 0%;
    margin-top: 4%;
  }

  #estilo-h2-main, #estilo-h2-main--agregar, #estilo-h2-main-historia {
    font-size: 55px;
    margin-top: 15%;
    margin-bottom: 5%;
    text-align: center;
    font-family: "Kanit", sans-serif;
    color: white;
    text-decoration: underline;
  }

  .estilo-h1 {
    font-size: 40px;
  }

  footer {
    width: 100%;
  }

  .caja-contacto-1 {
    width: 40%;
    height: 35%;
    margin-left: 30%;
  }
}