header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  width: 100%;
  height: 15vh;
  margin-bottom: 3em;
  background-image: url(../assets/images/4869.jpg);
  background-size: contain;
  background-repeat: repeat-x;
  grid-area: header;
  z-index: 1;
}
header nav {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav .tamano-caja-img .tamano-imagen {
  background-color: transparent;
}
header nav div .estilo-h1:hover {
  color: red;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-perspective: scale(2);
          perspective: scale(2);
  -webkit-transition: all 5s;
  transition: all 5s;
}
header nav div ul li {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  background-color: rgb(255, 208, 0);
  font-size: 18px;
  padding: 5px;
  border: 2px solid red;
  border-radius: 5px;
}
header nav div ul li a {
  text-decoration: none;
  color: rgb(0, 47, 255);
}
@-webkit-keyframes animation_header {
  0% {
    background: -webkit-gradient(linear, left top, right top, from(rgb(255, 166, 166)), color-stop(36%, rgb(119, 0, 0)), color-stop(64%, rgb(119, 0, 0)), to(rgb(255, 155, 155)));
    background: linear-gradient(90deg, rgb(255, 166, 166) 0%, rgb(119, 0, 0) 36%, rgb(119, 0, 0) 64%, rgb(255, 155, 155) 100%);
  }
  50% {
    background: -webkit-gradient(linear, left top, right top, from(rgb(255, 0, 0)), color-stop(36%, rgb(0, 24, 119)), color-stop(64%, rgb(0, 20, 119)), to(rgb(255, 0, 0)));
    background: linear-gradient(90deg, rgb(255, 0, 0) 0%, rgb(0, 24, 119) 36%, rgb(0, 20, 119) 64%, rgb(255, 0, 0) 100%);
  }
  75% {
    background: -webkit-gradient(linear, left top, right top, from(rgb(255, 0, 0)), color-stop(36%, rgb(0, 119, 30)), color-stop(64%, rgb(0, 119, 28)), to(rgb(255, 0, 0)));
    background: linear-gradient(90deg, rgb(255, 0, 0) 0%, rgb(0, 119, 30) 36%, rgb(0, 119, 28) 64%, rgb(255, 0, 0) 100%);
  }
  100% {
    background: -webkit-gradient(linear, left top, right top, from(rgb(255, 166, 166)), color-stop(36%, rgb(119, 0, 0)), color-stop(64%, rgb(119, 0, 0)), to(rgb(255, 155, 155)));
    background: linear-gradient(90deg, rgb(255, 166, 166) 0%, rgb(119, 0, 0) 36%, rgb(119, 0, 0) 64%, rgb(255, 155, 155) 100%);
  }
}
@keyframes animation_header {
  0% {
    background: -webkit-gradient(linear, left top, right top, from(rgb(255, 166, 166)), color-stop(36%, rgb(119, 0, 0)), color-stop(64%, rgb(119, 0, 0)), to(rgb(255, 155, 155)));
    background: linear-gradient(90deg, rgb(255, 166, 166) 0%, rgb(119, 0, 0) 36%, rgb(119, 0, 0) 64%, rgb(255, 155, 155) 100%);
  }
  50% {
    background: -webkit-gradient(linear, left top, right top, from(rgb(255, 0, 0)), color-stop(36%, rgb(0, 24, 119)), color-stop(64%, rgb(0, 20, 119)), to(rgb(255, 0, 0)));
    background: linear-gradient(90deg, rgb(255, 0, 0) 0%, rgb(0, 24, 119) 36%, rgb(0, 20, 119) 64%, rgb(255, 0, 0) 100%);
  }
  75% {
    background: -webkit-gradient(linear, left top, right top, from(rgb(255, 0, 0)), color-stop(36%, rgb(0, 119, 30)), color-stop(64%, rgb(0, 119, 28)), to(rgb(255, 0, 0)));
    background: linear-gradient(90deg, rgb(255, 0, 0) 0%, rgb(0, 119, 30) 36%, rgb(0, 119, 28) 64%, rgb(255, 0, 0) 100%);
  }
  100% {
    background: -webkit-gradient(linear, left top, right top, from(rgb(255, 166, 166)), color-stop(36%, rgb(119, 0, 0)), color-stop(64%, rgb(119, 0, 0)), to(rgb(255, 155, 155)));
    background: linear-gradient(90deg, rgb(255, 166, 166) 0%, rgb(119, 0, 0) 36%, rgb(119, 0, 0) 64%, rgb(255, 155, 155) 100%);
  }
}

.navbar-toggler {
  background-color: rgb(255, 208, 0);
  border-color: red;
}

.navbar-light {
  border-color: red;
}

#estilo-menu {
  color: white;
  text-decoration: none;
  margin: 1rem;
  font-weight: 400;
  font-size: larger;
}

.estilo-h1 {
  height: 100%;
  padding: 10px;
  color: rgb(255, 208, 0);
  font-family: "Silkscreen", cursive;
  font-size: 38px;
  text-shadow: 4px 4px white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 5%;
  -webkit-perspective: 2500;
          perspective: 2500;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.estilo-h1:hover {
  color: red;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-perspective: scale(2);
          perspective: scale(2);
  -webkit-transition: all 5s;
  transition: all 5s;
}

.tamano-imagen {
  width: 100%;
  height: 100%;
}

.tamano-imagen--1 {
  width: 33%;
  height: 100vh;
}

.tamano-caja-img {
  width: 20%;
  height: 100%;
}

#main-index {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
  width: 100%;
  height: 100%;
  margin-bottom: 3%;
}
#main-index span #estilo-h2-main, #main-index span #estilo-h2-main-historia, #main-index span #estilo-h2-main--agregar {
  background-color: transparent;
}
#main-index section .caja-trailer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#main-index section .caja-trailer iframe:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.15);
  -webkit-transition: all 3s;
  transition: all 3s;
}
#main-index section h2 {
  font-size: 40px;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  font-family: "DynaPuff", cursive;
  color: red;
}
#main-index section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#main-index section .article-left-1 img {
  width: 100%;
  height: 100%;
}
#main-index section .article-right-2 p {
  background-color: transparent;
}
#main-index section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#main-index section .article-left-1 img {
  width: 100%;
  height: 100%;
}
#main-index section .article-right-2 p {
  background-color: transparent;
}
#main-index section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#main-index section .article-left-1 img {
  width: 100%;
  height: 100%;
}
#main-index section a {
  border: 5px dotted red;
}
#main-index section a p {
  background-color: black;
}

#main-historia {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  background-color: transparent;
  grid-area: main;
  width: 100%;
  height: 100%;
  margin-bottom: 3%;
}
#main-historia .tamano-section-main #estilo-h2-main, #main-historia .tamano-section-main #estilo-h2-main-historia, #main-historia .tamano-section-main #estilo-h2-main--agregar {
  background-color: transparent;
}
#main-historia .estilo-historia .estilo-article .estilo-h2-main-historia {
  background-color: transparent;
}
#main-historia .tamano-section-main .article-left-1 img {
  background-color: black;
}
#main-historia .tamano-section-main .article-right-2 p {
  color: black;
}

#main-atributos {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  background-color: transparent;
  grid-area: main;
  width: 100%;
  height: 100%;
  margin-bottom: 3%;
}
#main-atributos #estilo-h2-main, #main-atributos #estilo-h2-main-historia, #main-atributos #estilo-h2-main--agregar {
  background-color: transparent;
}

.tamano-section-main .article-left-1 #imagenLogoparche {
  width: 100%;
  height: 100%;
}
.tamano-section-main .article-right-2 {
  background-color: transparent;
}

.main-galeria {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  background-color: transparent;
  grid-area: main;
  width: 100%;
  height: 100%;
  margin-bottom: 3%;
}
.main-galeria .estilo-h2-main {
  background-color: transparent;
}
.main-galeria section .estilo-h2-a {
  background-color: transparent;
}
.main-galeria .caja-slide article {
  margin: 1%;
}
.main-galeria .caja-slide article a {
  background-color: transparent;
}
.main-galeria .caja-slide article a .foto-slide:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-perspective: scale(2);
          perspective: scale(2);
  -webkit-transition: all 2s;
  transition: all 2s;
}

#main-contacto {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  background-color: transparent;
  grid-area: main;
  width: 100%;
  height: 100%;
  margin-bottom: 6%;
}
#main-contacto section .orientar-caja article #estilo-h2-main, #main-contacto section .orientar-caja article #estilo-h2-main-historia, #main-contacto section .orientar-caja article #estilo-h2-main--agregar {
  background-color: transparent;
}
#main-contacto section form section {
  background-color: beige;
  border: 5px dotted red;
}

.tamano-section-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.caja-trailer {
  background-color: transparent;
  width: 100%;
}

.caja-trailer:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: all 3s;
  transition: all 3s;
}

#imagenLogoparche {
  width: 100%;
  height: 100%;
}

.estilo-h1 {
  height: 100%;
  width: 67%;
  padding: 10px;
  color: rgb(255, 208, 0);
  font-family: "Silkscreen", cursive;
  font-size: 44px;
  text-shadow: 4px 4px white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 5%;
}

.lista-flex-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5%;
}

.article-right-2 {
  width: 60%;
  font-size: 20px;
  color: black;
  border: 5px solid red;
}

.estilo-article {
  margin: 10px;
  padding: 10px;
}

.estilo-historia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#estilo-h2-main--agregar {
  width: 100%;
  margin: 10px;
  font-size: 40px;
  padding-top: 5%;
}

#estilo-h2-main, #estilo-h2-main-historia, #estilo-h2-main--agregar {
  font-size: 40px;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  font-family: "DynaPuff", cursive;
  color: red;
}

#estilo-h2-main-historia {
  width: 100%;
  padding-top: 5%;
  text-align: center;
}

.article-left-1 {
  height: 100%;
  padding: 5px;
  border: 5px solid;
}

#imagenLogoparcheH {
  width: 100%;
  height: 100%;
}

#botonHistoria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgb(255, 208, 0);
  margin-top: 2%;
  margin-left: 47%;
  margin-bottom: 2%;
  font-size: 30px;
  padding: 5px;
  border: 2px solid rgb(255, 51, 0);
  border-radius: 5px;
  text-decoration: none;
  color: rgb(0, 47, 255);
}

.article-right-1-2 {
  display: inline-block;
  width: 90%;
  height: 20vh;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 18px;
  border: 5px solid red;
}

/* Galeria */
.estilo-h2-a {
  width: 100%;
  height: 10%;
  padding: 10px;
  color: red;
  font-size: 40px;
  text-align: center;
  margin-bottom: 100px;
}

.caja-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
  height: 15%;
  background-color: transparent;
  margin-left: 11%;
  margin-bottom: 2%;
}

.foto-slide {
  width: 80%;
  height: 100%;
  border: 5px solid red;
}

/* Atributos */
.fuente-ul-atr {
  color: white;
  padding: 20px;
  font-size: 18px;
  border: 5px solid red;
}

.caja-slide-atr {
  display: inline-block;
  width: 16%;
  height: 30vh;
  background-color: rgb(219, 66, 66);
  margin-bottom: 80px;
}

.foto-slide-atr {
  width: 100%;
  height: 100%;
  border: 5px solid red;
}

.caja-slide-centro--atr {
  display: inline-block;
  width: 50%;
  height: 30vh;
  padding: 40px;
  background-color: rgb(0, 0, 0);
  margin-left: 10px;
  position: relative;
  bottom: 203px;
}

/* Contacto */
.caja-contacto-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  height: 30%;
  padding: 40px;
  margin-left: 30%;
  margin-bottom: 3%;
  background-color: beige;
  font-size: 20px;
  border: 10px dotted aqua;
  position: relative;
  top: 30px;
}

.orientar-caja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  width: 100%;
  background-color: brown;
  grid-area: footer;
  -webkit-animation-name: animation_footer;
          animation-name: animation_footer;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
footer section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}
footer section a img {
  width: 70px;
  height: 70px;
  padding: 5px;
}

@-webkit-keyframes animation_footer {
  0% {
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(255, 255, 255)), to(rgb(237, 187, 107)));
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(237, 187, 107) 100%);
  }
  50% {
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(0, 0, 0)), to(rgb(237, 187, 107)));
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(237, 187, 107) 100%);
  }
  75% {
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(255, 255, 255)), to(rgb(237, 187, 107)));
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(237, 187, 107) 100%);
  }
  100% {
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(0, 0, 0)), to(rgb(237, 187, 107)));
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(237, 187, 107) 100%);
  }
}

@keyframes animation_footer {
  0% {
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(255, 255, 255)), to(rgb(237, 187, 107)));
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(237, 187, 107) 100%);
  }
  50% {
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(0, 0, 0)), to(rgb(237, 187, 107)));
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(237, 187, 107) 100%);
  }
  75% {
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(255, 255, 255)), to(rgb(237, 187, 107)));
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(237, 187, 107) 100%);
  }
  100% {
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(0, 0, 0)), to(rgb(237, 187, 107)));
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(237, 187, 107) 100%);
  }
}
.iconos-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.iconos-tamano-footer {
  width: 70px;
  height: 70px;
  padding: 5px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* INDEX */
#grilla {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/images/papiro.jpg);
  background-repeat: repeat;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "header header header" "main main main" "footer footer footer";
}

@-webkit-keyframes animation_body {
  0% {
    background: -webkit-gradient(linear, left top, right top, from(rgb(255, 166, 166)), color-stop(36%, rgb(119, 0, 0)), color-stop(64%, rgb(119, 0, 0)), to(rgb(255, 155, 155)));
    background: linear-gradient(90deg, rgb(255, 166, 166) 0%, rgb(119, 0, 0) 36%, rgb(119, 0, 0) 64%, rgb(255, 155, 155) 100%);
  }
  50% {
    background: -webkit-gradient(linear, left top, right top, from(rgb(255, 0, 0)), color-stop(36%, rgb(0, 24, 119)), color-stop(64%, rgb(0, 20, 119)), to(rgb(255, 0, 0)));
    background: linear-gradient(90deg, rgb(255, 0, 0) 0%, rgb(0, 24, 119) 36%, rgb(0, 20, 119) 64%, rgb(255, 0, 0) 100%);
  }
  75% {
    background: -webkit-gradient(linear, left top, right top, from(rgb(255, 0, 0)), color-stop(36%, rgb(0, 119, 30)), color-stop(64%, rgb(0, 119, 28)), to(rgb(255, 0, 0)));
    background: linear-gradient(90deg, rgb(255, 0, 0) 0%, rgb(0, 119, 30) 36%, rgb(0, 119, 28) 64%, rgb(255, 0, 0) 100%);
  }
  100% {
    background: -webkit-gradient(linear, left top, right top, from(rgb(255, 166, 166)), color-stop(36%, rgb(119, 0, 0)), color-stop(64%, rgb(119, 0, 0)), to(rgb(255, 155, 155)));
    background: linear-gradient(90deg, rgb(255, 166, 166) 0%, rgb(119, 0, 0) 36%, rgb(119, 0, 0) 64%, rgb(255, 155, 155) 100%);
  }
}

@keyframes animation_body {
  0% {
    background: -webkit-gradient(linear, left top, right top, from(rgb(255, 166, 166)), color-stop(36%, rgb(119, 0, 0)), color-stop(64%, rgb(119, 0, 0)), to(rgb(255, 155, 155)));
    background: linear-gradient(90deg, rgb(255, 166, 166) 0%, rgb(119, 0, 0) 36%, rgb(119, 0, 0) 64%, rgb(255, 155, 155) 100%);
  }
  50% {
    background: -webkit-gradient(linear, left top, right top, from(rgb(255, 0, 0)), color-stop(36%, rgb(0, 24, 119)), color-stop(64%, rgb(0, 20, 119)), to(rgb(255, 0, 0)));
    background: linear-gradient(90deg, rgb(255, 0, 0) 0%, rgb(0, 24, 119) 36%, rgb(0, 20, 119) 64%, rgb(255, 0, 0) 100%);
  }
  75% {
    background: -webkit-gradient(linear, left top, right top, from(rgb(255, 0, 0)), color-stop(36%, rgb(0, 119, 30)), color-stop(64%, rgb(0, 119, 28)), to(rgb(255, 0, 0)));
    background: linear-gradient(90deg, rgb(255, 0, 0) 0%, rgb(0, 119, 30) 36%, rgb(0, 119, 28) 64%, rgb(255, 0, 0) 100%);
  }
  100% {
    background: -webkit-gradient(linear, left top, right top, from(rgb(255, 166, 166)), color-stop(36%, rgb(119, 0, 0)), color-stop(64%, rgb(119, 0, 0)), to(rgb(255, 155, 155)));
    background: linear-gradient(90deg, rgb(255, 166, 166) 0%, rgb(119, 0, 0) 36%, rgb(119, 0, 0) 64%, rgb(255, 155, 155) 100%);
  }
}
/* Media Queris Mobile to Desktop */
@media screen and (min-width: 360px) {
  .tamano-caja-img {
    width: 0;
  }

  .caja-trailer {
    width: 360px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .estilo-h1 {
    height: 100%;
    width: 67%;
    padding: 10px;
    color: rgb(255, 208, 0);
    font-family: "Silkscreen", cursive;
    font-size: 22px;
    text-shadow: 4px 4px white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    top: 5%;
  }

  .caja-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 2%;
    background-color: transparent;
  }

  .caja-contacto-1 {
    width: 70%;
    height: 38%;
    margin-left: 20%;
    padding: 10px;
    margin-bottom: 16%;
  }

  .article-left-1 {
    width: 0%;
    height: 0%;
    padding: 0px;
    background-color: none;
    border: none;
  }
}
@media screen and (min-width: 500px) {
  .estilo-h1 {
    font-size: 34px;
  }
}
@media screen and (min-width: 768px) {
  .tamano-caja-img {
    width: 20%;
  }

  .caja-trailer {
    width: 100%;
  }

  header {
    width: 100%;
  }

  .caja-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 2%;
    background-color: transparent;
  }

  .estilo-h1 {
    height: 100%;
    width: 100%;
    padding: 10px;
    color: rgb(255, 208, 0);
    font-family: "Silkscreen", cursive;
    font-size: 38px;
    text-shadow: 4px 4px white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    top: 5%;
  }

  footer {
    width: 100%;
  }

  .caja-contacto-1 {
    width: 40%;
    height: 35%;
    margin-left: 30%;
  }

  .article-left-1 {
    width: 10%;
    height: 100%;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border: 5px solid red;
  }
}
@media screen and (min-width: 1200px) {
  .tamano-caja-img {
    width: 20%;
  }

  .caja-trailer {
    width: 100%;
  }

  header {
    width: 100%;
  }

  .lista-flex-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 3%;
  }

  .caja-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    height: 15%;
    background-color: transparent;
    margin-left: 11%;
    margin-bottom: 2%;
  }

  .estilo-h1 {
    height: 100%;
    padding: 10px;
    color: rgb(255, 208, 0);
    font-family: "Silkscreen", cursive;
    font-size: 40px;
    text-shadow: 4px 4px white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    top: 5%;
  }

  footer {
    width: 100%;
  }

  .caja-contacto-1 {
    width: 40%;
    height: 35%;
    margin-left: 30%;
  }
}