footer {
    width: 100%;
    background-color: map-get($paleta-colores, "Marron");
    grid-area: footer;
    animation-name: animation_footer;
    animation-duration: 10s;
    animation-iteration-count: infinite;

    section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: end;

        a {
            img {
                width: 70px;
                height: 70px;
                padding: 5px;
            }
        }
    }





}






@keyframes animation_footer {
    0% {

        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(237, 187, 107, 1) 100%);
    }

    25% {}

    50% {

        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(237, 187, 107, 1) 100%);
    }

    75% {
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(237, 187, 107, 1) 100%);
    }

    100% {
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(237, 187, 107, 1) 100%);
    }
}

.iconos-footer {
    display: flex;
    flex-direction: row;
    justify-content: end;

}

.iconos-tamano-footer {
    width: 70px;
    height: 70px;
    padding: 5px;
}