header {
    width: 100%;
    height: 15vh;
    margin-bottom: 3em;
    background-image: url(../assets/images/4869.jpg);
    background-size: contain;
    background-repeat: repeat-x;
    grid-area: header;
    z-index: 1;
    position: fixed;

    nav {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        .tamano-caja-img {

            .tamano-imagen {
                background-color: transparent;
            }
        }

        div {
            .estilo-h1 {

                &:hover {
                    color: map-get($paleta-colores, "Rojo");
                    text-shadow: 2px 2px rgb(255, 255, 255);
                    transform: scale(1.25);
                    perspective: scale(2);
                    transition: all 5s;
                }
            }
        }

        div {

            ul {
<<<<<<< HEAD
                #estilo-menu {
                    &:hover {
                        background-image: url(../assets/images/fuego-chico.jpg);
                    }
=======
                li {
                    display: inline-block;
                    width: fit-content;
                    height: fit-content;
                    text-align: center;
                    background-image: url(../assets/images/Menu-3.jpg);
                    background-repeat: repeat;
                    font-size: 18px;
                    padding: 5px;
                    border: 2px solid map-get($paleta-colores, "Blanco");
                    border-radius: 5px;
>>>>>>> 25aae0f60dadc199b37e61d9ac234f4d3c8d065f

                    a {

                        background-color: transparent;
                    }
                }
            }
        }
    }

}


// CLASES 

.navbar-toggler {
<<<<<<< HEAD
    background-color: rgb(255, 255, 255);
=======
    background-color:  rgb(255, 255, 255);
>>>>>>> 25aae0f60dadc199b37e61d9ac234f4d3c8d065f
    border-color: rgb(255, 255, 255);
}

.navbar-light {
    border-color: rgb(255, 255, 255);
<<<<<<< HEAD
    color: map-get($paleta-colores, "Blanco");
=======
    color: map-get($paleta-colores , "Blanco");
}
.nav-link{
    color: rgb(255, 255, 255) !important;
>>>>>>> 25aae0f60dadc199b37e61d9ac234f4d3c8d065f
}

.nav-link {
    color: rgb(255, 255, 255) !important;
    font-weight: 700 !important;
}

#estilo-menu {
    color: map-get($paleta-colores, "Blanco");
    display: inline-block;
    width: 90px;
    height: 40px;
    text-align: center;
    background-image: url(../assets/images/Menu-3.jpg);
    background-repeat: repeat;
    font-size: 18px;
    padding: 5px;
    border: 2px solid map-get($paleta-colores, "Blanco");
    border-radius: 5px;
    text-decoration: none;
    margin: 0rem;
    font-weight: 700;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
}

#estilo-menu-2 {
    color: map-get($paleta-colores, "Blanco");
    display: inline-block;
    width: 90px;
    height: 40px;
    text-align: center;
    background-image: url(../assets/images/Menu-3.jpg);
    background-repeat: repeat;
    font-size: 18px !important;
    padding: 5px;
    border: 2px solid map-get($paleta-colores, "Rojo");
    border-radius: 5px;
    margin: 0rem;
    font-weight: 500;
    font-size: larger;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#estilo-menu-2:hover {
        background-image: url(../assets/images/fuego-chico.jpg);
}


.estilo-h1 {
    height: 100%;
    padding: 10px;
    color: rgb(255, 255, 255);
<<<<<<< HEAD
    font-family: 'New Rocker', cursive;
=======
    font-family: 'MedievalSharp', cursive;
>>>>>>> 25aae0f60dadc199b37e61d9ac234f4d3c8d065f
    font-size: 38px;
    text-shadow: 2px 2px rgb(255, 0, 0);
    display: flex;
    align-items: center;
    position: relative;
    top: 5%;
    perspective: 2500;
    transition: 1s ease;
}


.estilo-h1:hover {
    color: red;
    text-shadow: 2px 2px rgb(255, 255, 255);
    transform: scale(1.15);
    perspective: scale(2);
    transition: all 5s;
}

.tamano-imagen {
    width: 100%;
    height: 100%;
}

.tamano-imagen--1 {

    width: 33%;
    height: 100vh;
}

.tamano-caja-img {
    width: 20%;
    height: 100%;
}