@mixin resetBody {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin f-center{
    display: flex;
    justify-content: center;
    margin: auto;
}

@mixin border-img{
    border: 5px dotted map-get($paleta-colores, "Rojo");
}