@mixin resetBody {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin f-center{
    display: flex;
    justify-content: center;
}

@mixin border-img{
    width: 60%;
    background-color: map-get($paleta-colores, "Negro");
    font-size: 20px;
    color: map-get($paleta-colores, "Blanco");
    border: 5px solid map-get($paleta-colores, "Azul");
}