@import "./variables";
@import "./mixins";
@import "./header";
@import "./main";
@import "./footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* INDEX */

#grilla {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/images/papiro.jpg);
    background-repeat: repeat;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header header header"
                         "main main main"
                         "footer footer footer";
}

@keyframes animation_body {
    0% {
        background: linear-gradient(90deg, rgba(255, 166, 166, 1) 0%, rgba(119, 0, 0, 1) 36%, rgba(119, 0, 0, 1) 64%, rgba(255, 155, 155, 1) 100%);
    }

    25% {}

    50% {
        background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(0, 24, 119, 1) 36%, rgba(0, 20, 119, 1) 64%, rgba(255, 0, 0, 1) 100%);
    }

    75% {
        background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(0, 119, 30, 1) 36%, rgba(0, 119, 28, 1) 64%, rgba(255, 0, 0, 1) 100%);
    }

    100% {
        background: linear-gradient(90deg, rgba(255, 166, 166, 1) 0%, rgba(119, 0, 0, 1) 36%, rgba(119, 0, 0, 1) 64%, rgba(255, 155, 155, 1) 100%);
    }
}





/* Media Queris Mobile to Desktop */


@media screen and (min-width: 360px) {
    .tamano-caja-img {
        width: 0;
    }

    .caja-trailer {
        width: 360px;
        display: flex;
        align-items: center;
    }

    .estilo-h1 {
        height: 100%;
        width: 67%;
        padding: 10px;
        color: rgb(255, 208, 0);
        font-family: 'Silkscreen', cursive;
        font-size: 22px;
        text-shadow: 4px 4px white;
        display: flex;
        align-items: center;
        position: relative;
        top: 5%;
    }

    .caja-slide {
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: fit-content;
        margin-top: 2%;
        background-color: transparent;
    }

    .caja-contacto-1 {
        width: 70%;
        height: 38%;
        margin-left: 20%;
        padding: 10px;
        margin-bottom: 16%;
    }

    .article-left-1 {
        width: 0%;
        height: 0%;
        padding: 0px;
        background-color: none;
        border: none;
    }

}
@media screen and (min-width: 500px) {
    .estilo-h1{
        font-size: 34px;
    }
}
@media screen and (min-width: 768px) {
    .tamano-caja-img {
        width: 20%;
    }

    .caja-trailer {
        width: 100%;
    }

    header {
        width: 100%;
    }

    .caja-slide {
        display: flex;
        flex-direction: row;
        width: fit-content;
        height: fit-content;
        margin-top: 2%;
        background-color: transparent;
    }

    .estilo-h1 {
        height: 100%;
        width: 100%;
        padding: 10px;
        color: rgb(255, 208, 0);
        font-family: 'Silkscreen', cursive;
        font-size: 38px;
        text-shadow: 4px 4px white;
        display: flex;
        align-items: center;
        position: relative;
        top: 5%;

    }

    footer {
        width: 100%;
    }

    .caja-contacto-1 {
        width: 40%;
        height: 35%;
        margin-left: 30%;
    }

    .article-left-1 {
        width: 10%;
        height: 100%;
        padding: 5px;
        background-color: rgb(255, 255, 255);
        border: 5px solid red;
    }
}

@media screen and (min-width: 1200px) {
    .tamano-caja-img {
        width: 20%;
    }

    .caja-trailer {
        width: 100%;
    }

    header {
        width: 100%;
    }

    .lista-flex-menu {
        display: flex;
        align-items: center;
        margin-right: 3%;
    }

    .caja-slide {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 80%;
        height: 15%;
        background-color: transparent;
        margin-left: 11%;
        margin-bottom: 2%;
    }

    .estilo-h1 {
        height: 100%;
        padding: 10px;
        color: rgb(255, 208, 0);
        font-family: 'Silkscreen', cursive;
        font-size: 40px;
        text-shadow: 4px 4px white;
        display: flex;
        align-items: center;
        position: relative;
        top: 5%;
    }



    footer {
        width: 100%;
    }

    .caja-contacto-1 {
        width: 40%;
        height: 35%;
        margin-left: 30%;
    }
}